:root {
    --color-red: #8C6347;
    --color-active: #938B7D;
    --color-hoverred: #E2D5C0;
    --color-white: #ffffff;
    --text-dark: #3E2410;
    --text-acvive: black;
    --grid-gutter: 50px;
    --grid-gutter-sm: 20px;
    --font-size-base: 24px;
    --font-size-h1: 42px;
    --font-size-h2: 32px;
    --font-size-h3: 30px;
}

* {
    box-sizing: border-box;
}
  
*:before,
*:after {
    box-sizing: border-box;
}
  
body {
    color: var(--text-dark);
    font-family: 'Inter';
    font-size: var(--font-size-base);
    font-weight: 400;
    background-color: #C4B59D;
}
  
header {
    padding: none;
    margin: none;
}

nav {
    border-bottom: solid 3px var(--color-red);
}

a {
    transition: all 0.25s ease;
    text-decoration: none;
    color: var(--text-dark);
}

a:hover {
    color: var(--color-red);
    cursor: pointer;
    transition: all 0.25s ease;
}

a:active {
    color: var(--color-black);
}

textarea {
    resize: none;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 600;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: 400;
}

h3 {font-size: var(--font-size-h3);
    font-weight: 400;
}

/* layout */
.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo_text {
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    padding: 0;
    margin: 25px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.header_banner {
    margin-top: 50px;
}

.title {
    padding: 20px;
    margin: 20px;
    font-size: var(--font-size-h1);
    font-weight: bold;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_text {
    padding: 40px;
}

.new_level {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.benefits {
    margin: 20px;
    display: flex;
    flex-direction: column;
    border: solid 3px var(--color-red);
    border-radius: 30px;
}

.benefits_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.news {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.news_block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.news_block img {
    width: 100%;
    object-fit: contain;
}

.news_text {
    margin-left: 20px;
}

.news_text h1 {
    text-align: left;
    font-size: 24px;
}

.news_text p {
    font-size: 20px;
}

.order {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.order p {
    text-align: center;
}

.order_title {
    font-size: 24px;
    font-weight: bold;
}

.items_catalog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items_catalog ul {
    list-style: none;
}

.flex_block {
    display: flex;
    justify-content: space-between;
}

.flex_block p {
    margin-left: 20px;
}